In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Import du dataset

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("dhrubangtalukdar/200-years-of-global-major-earthquakes-18262026")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\trist\.cache\kagglehub\datasets\dhrubangtalukdar\200-years-of-global-major-earthquakes-18262026\versions\1

In [3]:
df = pd.read_csv(f"{path}/earthquake1826_2026.csv")

# Transformation

In [4]:
for i in df.select_dtypes(include='number'):
    df.fillna({i: df[i].mean()}, inplace=True)

df.fillna({'place': 'Inconnu'}, inplace=True)

df.isna().sum()

time               0
latitude           0
longitude          0
depth              0
mag                0
magType            0
nst                0
gap                0
dmin               0
rms                0
id                 0
updated            0
place              0
type               0
horizontalError    0
depthError         0
magError           0
magNst             0
status             0
dtype: int64

In [5]:
df["time"] = pd.to_datetime(df["time"], format="mixed", utc=True)
df["date_ts_ms"] = df["time"].astype("int64") // 10**6

In [6]:
df = df.drop(["id", "status", "updated", "place", "type", "time"], axis=1)

In [7]:
df = pd.get_dummies(df, columns=['magType'])

In [8]:
scaler = StandardScaler()

df_scaled = df.copy()
cols = df_scaled.select_dtypes(include="number").columns

df_scaled[cols] = scaler.fit_transform(df_scaled[cols])

In [9]:
df_scaled.head()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,...,magType_mlg,magType_ms,magType_ms_20,magType_mw,magType_mwb,magType_mwc,magType_mwp,magType_mwr,magType_mww,magType_uk
0,-0.897763,-1.804759,4.518020,0.097182,-1.376348,-0.993451,0.742896,0.544656,0.219991,-0.036223,...,False,False,False,False,False,False,False,False,True,False
1,0.115120,0.711479,-0.462753,0.097182,-1.449118,-0.416807,-1.175484,1.410081,-0.699669,-0.424388,...,False,False,False,False,False,False,False,False,True,False
2,0.118545,0.708714,-0.247339,1.951828,-0.575879,-1.364151,-1.306623,0.672867,0.028062,-0.799021,...,False,False,False,False,False,False,False,False,True,False
3,-0.706341,1.049103,0.007517,-0.933178,-1.609212,0.654103,-0.789758,-1.346459,0.481228,-0.223344,...,False,False,False,False,False,False,False,False,True,False
4,1.103158,0.281563,-0.480008,-0.521034,-0.663203,-0.375619,-0.959341,-0.256664,-0.345134,-0.798240,...,False,False,False,False,False,False,False,False,False,False

## Export

In [10]:
df_scaled.to_csv('../data/transformed_data.csv')